@import "../../style-helpers/mixins.scss";

.background {
  @include fade-in(0.75s);
  @include flex-center;
  @include full-page;
  background-image: url("../../../assets/path.jpg");
  background-origin: center;
  background-size: cover;
  position: relative;
}

.container {
  flex-direction: column;
  @include box-shadow(rgba(209, 209, 209, 0.6));
  width: 500px;
  border-radius: $auth-b-radius;
}

.logo {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-family: "Pacifico", cursive;
  font-size: $t2;
  color: $light-theme;
}
