.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center !important;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  padding: 1rem 2rem;
  background-color: white;
  border: 3px solid #f1f1f1;
  border-radius: 10px 10px 0 0;
}

.label {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 1rem;
  font-weight: 300;
  color: #888888;
  width: 100%;
  position: relative;
}

.label_pressed {
  color: #fd545f;
}

.label_error {
  color: #fc202f;
  font-weight: normal;
}

.input {
  margin-top: 0.25rem;
  padding: 0 0 0 0.5rem;
  font-size: 0.95rem;
  font-weight: 300;
  height: 1.75rem;
  border: 1px solid #b4b4b4;
  outline: 1;
  color: #333333;
  border-radius: 3px;
}

.input:focus {
  outline: none;
  border: 2px solid #fd545f;
}

.input_pressed {
  border: 1px solid #fd545f;
}

.input_error {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: shake;
          animation-name: shake;
  outline: none;
  border: 1px solid #fc202f;
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}

.btn_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.8rem;
  width: 7rem;
  font-size: 1rem;
  padding: 0rem 1rem;
  background-color: white;
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  text-decoration: none;
  color: #888888;
  cursor: pointer;
}

.btn_login:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #fd545f;
  border: 1px solid #fd545f;
  color: white;
}

.btn_login:focus {
  outline: none;
}

.btn_login:active {
  background-color: white;
  border: 1px solid #b4b4b4;
}

.btn_login:disabled {
  -webkit-transition: opacity 1s ease 0.25s;
  transition: opacity 1s ease 0.25s;
  cursor: not-allowed !important;
  opacity: 0.25 !important;
}

.error {
  -webkit-animation: fade 0.5s ease-out;
          animation: fade 0.5s ease-out;
  fill: #fc202f;
  position: absolute;
  right: 25px;
  top: 27px;
  height: 1.25rem;
  width: 1.25rem;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=LoginForm.module.css.map */