.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 2rem;
  border: #f1f1f1;
  background: rgba(255, 255, 255, 0.8);
}

.form_less {
  opacity: 0.1;
  -webkit-transition: opacity 0.75s ease 0.5s;
  transition: opacity 0.75s ease 0.5s;
}

.label {
  font-size: 1rem;
  font-weight: 300;
  color: #888888;
  width: 100%;
  margin-top: 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h1 {
  color: #888888;
  font-weight: 100;
  margin-bottom: 1rem;
  font-size: 2.25rem;
}

.input {
  width: 100%;
  padding: 0 0 0 0.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  height: 3rem;
  border: 1px solid #f1f1f1;
  outline: 1;
  color: #333333;
  border-radius: 5px;
}

.input::-webkit-input-placeholder {
  font-weight: 100;
  color: #888888;
  font-size: 1.25rem;
}

.input:-ms-input-placeholder {
  font-weight: 100;
  color: #888888;
  font-size: 1.25rem;
}

.input::-ms-input-placeholder {
  font-weight: 100;
  color: #888888;
  font-size: 1.25rem;
}

.input::placeholder {
  font-weight: 100;
  color: #888888;
  font-size: 1.25rem;
}

.input:focus {
  outline: none;
  border: 1px solid #ee4943;
}

.input_error {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: shake;
          animation-name: shake;
  outline: none;
  border: 1px solid #ff1d15;
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

.input_error::-webkit-input-placeholder {
  color: #ff1d15;
  font-weight: 300;
}

.input_error:-ms-input-placeholder {
  color: #ff1d15;
  font-weight: 300;
}

.input_error::-ms-input-placeholder {
  color: #ff1d15;
  font-weight: 300;
}

.input_error::placeholder {
  color: #ff1d15;
  font-weight: 300;
}

.button {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  width: 100%;
  font-size: 1.75rem;
  padding: 0rem 1rem;
  background-color: #2694e0;
  border: 1px solid #2694e0;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  -webkit-transition: opacity 0.75s ease 0.5s;
  transition: opacity 0.75s ease 0.5s;
}

.button:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background: #ee4943;
  border: 1px solid #ee4943;
  color: white;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #2694e0;
  border: 1px solid #2694e0;
}

.button:disabled {
  cursor: not-allowed !important;
  opacity: 0.25 !important;
}

.error {
  fill: red;
  position: absolute;
  right: 10px;
  height: 2rem;
  width: 2rem;
}
/*# sourceMappingURL=SignupForm.module.css.map */