@import "../../../style-helpers/mixins.scss";

.form {
  @include flex-center;

  flex-direction: column;
  width: 100%;
  padding: 2rem;
  border: $lightgray;
  background: rgba(255, 255, 255, 0.8);

  &_less {
    opacity: 0.1;
    @include trans-opacity;
  }
}

.label {
  font-size: 1rem;
  font-weight: $fw-light;
  color: $darkgray;
  width: 100%;
  margin-top: 1rem;
  position: relative;

  display: flex;
  align-items: center;
}

.h1 {
  color: $gray;
  font-weight: $fw-lighter;
  margin: 0.25rem 0 1rem 0;
  font-size: 2.25rem;

  &_error {
    transition: 2s;
    color: $superdarkgray;
  }
}

@mixin signup-border($thk, $color) {
  border: $thk solid $color;
}

.input {
  width: 100%;
  padding: 0 0 0 0.5rem;
  font-size: 1.5rem;
  font-weight: $fw-light;
  height: 3rem;

  @include signup-border(1px, $lightgray);
  outline: 1;
  color: $superdarkgray;
  border-radius: 5px;

  &::placeholder {
    font-weight: $fw-lighter;
    color: $darkgray;
    font-size: 1.25rem;
  }

  &:focus {
    outline: none;
    @include signup-border(2px, $theme);
  }

  &_pressed {
    @include signup-border(1px, $light-theme);

    &::placeholder {
      color: $light-theme;
      font-weight: $fw-light;
    }
  }

  &_error {
    @include shake-animation();
    outline: none;
    @include signup-border(1px, $theme);

    &::placeholder {
      color: $theme;
      font-weight: normal;
    }
  }
}

$btn-style: (
  height: 3rem,
  width: 100%,
  font-size: 1.75rem,
  padding: 0rem 1rem,
  border: $light-theme,
  bg: $light-theme,
  color: white,
  hover-bg: $theme,
  hover-border: $theme,
  hover-color: white
);

.button {
  margin: 3rem 0 1rem 0;
  @include button($btn-style...);
}

$svg-size: 2rem;

.error {
  @include appear;
  fill: $theme;
  position: absolute;
  right: 10px;
  height: $svg-size;
  width: $svg-size;
}
