@import "../../../style-helpers/mixins.scss";

.form {
  @include flex-center;

  flex-direction: column;
  width: 100%;
  padding: 2rem;
  border: $lightgray;
  background: rgba(255, 255, 255, 0.8);

  &_less {
    opacity: 0.1;
    @include trans-opacity;
  }
}

.label {
  font-size: 1rem;
  font-weight: $fw-light;
  color: $darkgray;
  width: 100%;
  margin-top: 1rem;
  position: relative;

  display: flex;
  align-items: center;
}

.h1 {
  color: $gray;
  font-weight: $fw-lighter;
  margin-bottom: 1rem;
  font-size: 2.25rem;

  &_error {
    transition: 2s;
    color: $superdarkgray;
  }
}

.input {
  width: 100%;
  padding: 0 0 0 0.5rem;
  font-size: 1.5rem;
  font-weight: $fw-light;
  height: 3rem;

  border: 1px solid $lightgray;
  outline: 1;
  color: $superdarkgray;
  border-radius: 5px;

  &::placeholder {
    font-weight: $fw-lighter;
    color: $darkgray;
    font-size: 1.25rem;
  }

  &:focus {
    outline: none;
    border: 1px solid $lightred;
  }

  &_error {
    @include shake-animation();
    outline: none;
    border: 1px solid $red;

    &::placeholder {
      color: $red;
      font-weight: $fw-light;
    }
  }
}

$btn-style: (
  height: 3rem,
  width: 100%,
  font-size: 1.75rem,
  padding: 0rem 1rem,
  border: $red,
  bg: $red,
  color: white,
  hover-bg: $lightred,
  hover-border: $lightred,
  hover-color: white
);

.button {
  margin-top: 2.5rem;
  @include button($btn-style...);
}

$svg-size: 2rem;

.error {
  fill: $red;
  position: absolute;
  right: 10px;
  height: $svg-size;
  width: $svg-size;
}
