@import "../../style-helpers/mixins.scss";

$nav-width: 4.5rem;

.container {
  z-index: 2;
  @include flex-center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: $nav-width;
  background-color: $light-theme;
}

a {
  &.active {
    background-color: white;
  }

  &:hover {
    @include box-shadow(rgba(255, 255, 255, 0.986));
  }
}

.icons {
  height: $nav-width;
  width: auto;
  padding: 1.25rem;
  fill: white;

  &_active {
    fill: $light-theme;
  }
}
