@import "../../style-helpers/mixins.scss";

$nav-width: 4rem;

.container {
  z-index: 5;
  @include flex-center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: $nav-width;
  background-color: $light-theme;
  // border-right: 1px solid $lightgray;

  &_home {
    @include rbox-shadow(rgba(133, 133, 133, 0.7));
  }
}

a {
  &.active {
    border-top: 1px solid $lightgray;
    border-bottom: 1px solid $lightgray;
    border-right: 1px solid white;
    background-color: white;

    &:first-child {
      border-top: none;
    }
  }

  &:hover {
    @include box-shadow(rgba(204, 204, 204, 0.7));
    background-color: white;

    .icons {
      fill: $light-theme;
    }
  }

  .icons {
    height: $nav-width;
    width: auto;
    padding: 1rem;
    fill: white;

    &_active {
      fill: $light-theme;
    }
  }
}
