@import "../../style-helpers/mixins.scss";

$nav-width: 4.5rem;

.container {
  z-index: 2;
  @include flex-center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: $nav-width;
  background-color: white;
  border-right: 1px solid $lightgray;
}

a {
  &.active {
    border-top: 1px solid $lightgray;
    border-bottom: 1px solid $lightgray;
    border-right: 1px solid white;

    &:first-child {
      border-top: none;
    }
  }

  &:hover {
    @include box-shadow(rgba(228, 228, 228, 0.7));
  }
}

.icons {
  height: $nav-width;
  width: auto;
  padding: 1.25rem;
  fill: $gray;

  &:hover {
    fill: $light-theme;
  }

  &_active {
    fill: $light-theme;
  }
}
