@import "../../../style-helpers/mixins.scss";

.form {
  @include flex-center;
  justify-content: center !important;
  align-items: flex-end;
  width: 100%;
  padding: 1rem 2rem;
  background-color: white;
  border: 3px solid $lightgray;
}

.label {
  align-items: baseline;
  font-size: 1rem;
  font-weight: $fw-light;
  color: $darkgray;
  width: 100%;
  position: relative;

  &_pressed {
    color: $light-theme;
  }

  &_error {
    color: $theme;
    font-weight: normal;
  }
}

@mixin login-border($thk, $color) {
  border: $thk solid $color;
}

.input {
  margin-top: 0.25rem;
  padding: 0 0 0 0.5rem;
  font-size: 0.95rem;
  font-weight: $fw-light;
  height: 1.75rem;

  border: 1px solid $gray;
  outline: 1;
  color: $superdarkgray;

  &:focus {
    outline: none;
    @include login-border(2px, $theme);
  }

  &_pressed {
    @include login-border(1px, $light-theme);
  }

  &_error {
    @include shake-animation();
    outline: none;
    @include login-border(1px, $theme);
  }
}

$btn-style: (
  height: 1.8rem,
  width: 7rem,
  font-size: 1rem,
  padding: 0rem 1rem,
  border: $gray,
  bg: white,
  hover-bg: $light-theme,
  hover-border: $light-theme,
  hover-color: white,
  color: $darkgray
);

.btn {
  @include button($btn-style...);
}

$svg-size: 1.25rem;

.error {
  @include appear;
  fill: $theme;
  position: absolute;
  right: 25px;
  top: 27px;
  height: $svg-size;
  width: $svg-size;
}
