@import "./style-guides.scss";

// transition animation
@mixin shake-animation() {
  @keyframes shake {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-3px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
      transform: translate3d(3px, 0, 0);
    }
  }

  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: shake;
}

@mixin fade-in($duration) {
  animation: fade $duration ease-out;

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@mixin slide($from, $to, $timing, $transition) {
  @keyframes slide {
    from {
      // margin-left: $nav-width;
      transform: translateX($from);
    }

    to {
      // margin-right: $nav-width;
      transform: translateX($to);
    }
  }

  animation: slide $timing $transition;
}

@mixin trans-opacity($duration) {
  transition: opacity $duration ease 0.25s;
}

// layout
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin full-page {
  height: 100vh;
  width: 100vw;
}

@mixin box-shadow($shadow) {
  box-shadow: 0px 0px 5px 2px $shadow;
}

@mixin rbox-shadow($shadow) {
  box-shadow: 1px 0px 5px 1px $shadow;
}
// shared utils
@mixin button(
  $height,
  $width,
  $font-size,
  $padding,
  $bg: $lightred,
  $border: $lightred,
  $color: white,
  $hover-bg: white,
  $hover-border: $lightred,
  $hover-color: $lightred
) {
  @include flex-center();
  height: $height;
  width: $width;
  font-size: $font-size;
  padding: $padding;
  background-color: $bg;
  border: 1px solid $border;
  border-radius: 3px;
  text-decoration: none;
  color: $color;

  cursor: pointer;

  &:hover {
    transition: $trans-delay;
    background: $hover-bg;
    border: 1px solid $hover-border;
    color: $hover-color;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: $bg;
    border: 1px solid $border;
  }

  &:disabled {
    @include trans-opacity(1s);
    cursor: not-allowed !important;
    opacity: 0.25 !important;
  }
}
