// this file is imported to mixins

// font-weight
$fw-lighter: 100;
$fw-light: 300;
$fw-medium: 500;

// colors
$theme: #fc202f;
$light-theme: #fd545f;
$superdarkgray: #333333;
$darkgray: #888888;
$gray: #b4b4b4;
$lightgray: #f1f1f1;
$extralightgray: #f8f8f8;
$lovelyblue: #2694e0;

// transition delay
$trans-delay: 0.5s;

// others
$auth-b-radius: 8px;
