// this file is imported to mixins

// font-size
$t1: 22 / 16 + rem;
$t2: 18 / 16 + rem;
$t3: 16 / 16 + rem;
$t4: 14 / 18 + rem;
$help-txt: 12 / 16 + rem;
$thumbnail: 10 / 16 + rem;

// font-weight
$fw-lighter: 100;
$fw-light: 300;
$fw-medium: 500;

// colors
$theme: #fc202f;
$light-theme: #fd545f;
$superlight-theme: #ff7982;
$superdarkgray: #333333;
$darkgray: #888888;
$gray: #b4b4b4;
$lightgray: #f1f1f1;
$extralightgray: #f8f8f8;
$lovelyblue: #2694e0;

// transition delay
$trans-delay: 0.5s;

// others
$auth-b-radius: 5px;
