@import "../../style-helpers/mixins.scss";

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.logo {
  position: fixed;
  bottom: 8px;
  left: 15px;
  font-size: $t1;
  font-family: "Pacifico", cursive;
  color: $light-theme;
  z-index: 6;
}

.default {
  margin: 0 !important;
  padding: 0 !important;
}

.map_nav {
  position: absolute;
  bottom: 1.5rem;
  right: 0;
  padding: 10px;
}

.searchBox {
  position: fixed;
  top: 0rem;
  right: 0rem;
  z-index: 1;

  &_input {
    display: flex;
    align-items: center;
    width: 15rem;
    margin: 0.75rem;
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid $light-theme;
    outline: 1;
    font-size: $t3;
    color: $superdarkgray;
    background-color: rgba(255, 255, 255, 0.85);
    @include shake-animation();

    &::placeholder {
      font-size: 1rem;
      color: $light-theme;
      font-weight: $fw-medium;
      // text-align: center;
    }

    &:hover &::placeholder {
      background: black;
    }

    &:focus {
      @include box-shadow(rgba(255, 62, 62, 0.6));
      outline: none;
      border: 2px solid $light-theme;
      background-color: white;

      &::placeholder {
        color: white;
      }

      &.searchbox_icon {
        fill: $light-theme;
      }
    }
  }

  &_icon {
    z-index: 10;
    @include fade-in(1s);
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    fill: $darkgray;
    background-color: white;
  }

  &_clear {
    z-index: 10;
    @include fade-in(1s);
    cursor: pointer;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    fill: $superdarkgray;
    background-color: white;
  }
}

.marker {
  cursor: pointer;
  $msize: 4.25rem;
  fill: $light-theme;
  height: $msize;
  width: $msize;
  transform: translate(-50%, -100%);
  margin: 0;
  padding: 0;
  @include fade-in(1s);

  &_shadow {
    $size: 1rem;
    height: $size / 6;
    width: $size;
    background-color: none;
    border-radius: 50%;
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    @include box-shadow-ext($light-theme);
  }

  &_result {
    cursor: pointer;
    fill: $lovelyblue;

    &__shadow {
      @extend .marker_shadow;
      @include box-shadow-ext($lovelyblue);
    }
  }

  &_type {
    $size: 2rem;

    cursor: pointer;
    position: absolute;
    top: -3.6rem;
    left: -1rem;
    height: $size;
    width: $size;
    padding: 0.25rem;
    background-color: $extralightgray;
    border-radius: 50%;
    fill: $darkgray;

    &__active {
      fill: $color_icon_active;
    }
  }
}

.pinit_window {
  @include box-shadow($gray);
  @include flex-center;
  flex-direction: column;
  background-color: white;
  // border: 1px solid white;
  transform: translate(-50%, -155%);
  position: relative;
  padding: 2rem 1rem 1rem 1rem;
  min-width: 10rem;
  max-width: 12rem;
  border-radius: 10px;
  text-align: center;

  p {
    margin-top: 0.25rem;
  }

  &__button {
    margin-top: 1rem;

    $btn-style: (
      height: 1.5rem,
      width: auto,
      font-size: $t-help,
      padding: 0rem 1rem,
      border: $lovelyblue,
      bg: $lovelyblue,
      hover-bg: $light-theme,
      hover-border: $light-theme,
      hover-color: white,
      color: white
    );

    @include button($btn-style...);
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    fill: $gray;

    &:hover {
      fill: $superdarkgray;
      background: none;
    }

    svg {
      height: $t3;
      width: $t3;
    }
  }
}

.places_window {
  @include box-shadow($gray);
  @include fade-in(0.5s);
  @include flex-center;
  flex-direction: column;
  background-color: $color_icon_active;
  color: white;
  transform: translate(-50%, -200%);
  // position: absolute;
  padding: 1rem;
  min-width: 10rem;
  // max-width: 12rem;
  border-radius: 5px;
  text-align: center;
}
