@import "../style-helpers/mixins.scss";

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.map {
  cursor: default !important;
}

.logo {
  cursor: default;
  font-family: "Pacifico", cursive;
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: $light-theme;
  z-index: 3;
  background: white;
  padding: 0.25rem 1rem 0.25rem 0.75rem;
  border-radius: 8px;
}

.map_nav {
  position: absolute;
  bottom: 1.5rem;
  right: 0;
  padding: 10px;
}

.searchBox {
  position: fixed;
  top: 0rem;
  right: 0rem;
  z-index: 1;

  &_input {
    display: flex;
    align-items: center;
    width: 15rem;
    margin: 0.75rem;
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid $light-theme;
    outline: 1;
    font-size: 1rem;
    color: $superdarkgray;
    @include shake-animation();

    &::placeholder {
      font-size: 1rem;
      color: $light-theme;
      font-weight: $fw-medium;
      // text-align: center;
    }

    &:hover &::placeholder {
      background: black;
    }

    &:focus {
      @include box-shadow(rgba(255, 62, 62, 0.6));
      outline: none;
      border: 2px solid $light-theme;

      &::placeholder {
        color: white;
      }

      &.searchbox_icon {
        fill: $light-theme;
      }
    }
  }

  &_icon {
    z-index: 10;
    @include fade-in(1s);
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    fill: $darkgray;
    background-color: white;
  }

  &_clear {
    z-index: 10;
    @include fade-in(1s);
    cursor: pointer;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    fill: $superdarkgray;
    background-color: white;
  }
}

@mixin fade() {
  animation: fade 1s ease-out;

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.formBox {
  @include flex-center;
  flex-direction: column;
  background-color: white;
  offset-block-end: 10px;
}

.marker {
  fill: $light-theme;
  height: 3rem;
  width: 3rem;
  position: absolute;
  transform: translate(-50%, -100%);

  &_image {
    // @include fade();
    height: 2.25rem;
    border-radius: 50%;
    border: 2px solid $light-theme;
    opacity: 1;
  }
}
