@import "../style-helpers/mixins.scss";

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.logo {
  position: absolute;
  font-size: $t1;
  bottom: 1.75rem;
  left: 4.75rem;
  font-family: "Pacifico", cursive;
  color: $light-theme;
  z-index: 1;
}

.default {
  margin: 0 !important;
  padding: 0 !important;
}

.map_nav {
  position: absolute;
  bottom: 1.5rem;
  right: 0;
  padding: 10px;
}

.searchBox {
  position: fixed;
  top: 0rem;
  right: 0rem;
  z-index: 1;

  &_input {
    display: flex;
    align-items: center;
    width: 15rem;
    margin: 0.75rem;
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid $light-theme;
    outline: 1;
    font-size: $t3;
    color: $superdarkgray;
    @include shake-animation();

    &::placeholder {
      font-size: 1rem;
      color: $light-theme;
      font-weight: $fw-medium;
      // text-align: center;
    }

    &:hover &::placeholder {
      background: black;
    }

    &:focus {
      @include box-shadow(rgba(255, 62, 62, 0.6));
      outline: none;
      border: 2px solid $light-theme;

      &::placeholder {
        color: white;
      }

      &.searchbox_icon {
        fill: $light-theme;
      }
    }
  }

  &_icon {
    z-index: 10;
    @include fade-in(1s);
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    fill: $darkgray;
    background-color: white;
  }

  &_clear {
    z-index: 10;
    @include fade-in(1s);
    cursor: pointer;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    fill: $superdarkgray;
    background-color: white;
  }
}

.marker {
  cursor: pointer;
  fill: $light-theme;
  height: 3rem;
  width: 3rem;
  position: absolute;
  transform: translate(-50%, -100%);
  margin: 0;
  @include fade-in(1s);

  &_result {
    fill: $theme;
  }

  &_image {
    height: 2.25rem;
    border-radius: 50%;
    border: 2px solid $light-theme;
    opacity: 1;
  }
}

.pinit_window {
  @include box-shadow(rgba(255, 62, 62, 0.6));
  @include flex-center;
  flex-direction: column;
  background-color: white;
  border: 1px solid $light-theme;
  transform: translate(-50%, -175%);
  position: relative;
  padding: 2rem 1rem 1rem 1rem;
  min-width: 10rem;
  max-width: 12rem;
  border-radius: 10px;

  p {
    margin-top: 0.5rem;
  }

  &__button {
    margin-top: 1rem;

    $btn-style: (
      height: 1.5rem,
      width: auto,
      font-size: $t-help,
      padding: 0rem 1rem,
      border: $theme,
      bg: $light-theme,
      hover-bg: $theme,
      hover-border: $light-theme,
      hover-color: white,
      color: white
    );

    @include button($btn-style...);
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    fill: $gray;

    &:hover {
      fill: $superdarkgray;
      background: none;
    }

    svg {
      height: $t3;
      width: $t3;
    }
  }
}

.places_window {
  @include box-shadow(rgba(255, 62, 62, 0.6));
  @include flex-center;
  flex-direction: column;
  background-color: white;
  // border: 1px solid $light-theme;
  transform: translate(-50%, -175%);
  position: absolute;
  padding: 1rem;
  min-width: 10rem;
  max-width: 12rem;
  border-radius: 10px;
}
