.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.logo {
  position: absolute;
  bottom: 1.75rem;
  left: 4.75rem;
  font-size: 1.375rem;
  font-family: "Pacifico", cursive;
  color: #fd545f;
  z-index: 1;
}

.default {
  margin: 0 !important;
  padding: 0 !important;
}

.map_nav {
  position: absolute;
  bottom: 1.5rem;
  right: 0;
  padding: 10px;
}

.searchBox {
  position: fixed;
  top: 0rem;
  right: 0rem;
  z-index: 1;
}

.searchBox_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  margin: 0.75rem;
  border-radius: 5px;
  padding: 0.5rem;
  border: 1px solid #fd545f;
  outline: 1;
  font-size: 1rem;
  color: #333333;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: shake;
          animation-name: shake;
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}

.searchBox_input::-webkit-input-placeholder {
  font-size: 1rem;
  color: #fd545f;
  font-weight: 500;
}

.searchBox_input:-ms-input-placeholder {
  font-size: 1rem;
  color: #fd545f;
  font-weight: 500;
}

.searchBox_input::-ms-input-placeholder {
  font-size: 1rem;
  color: #fd545f;
  font-weight: 500;
}

.searchBox_input::placeholder {
  font-size: 1rem;
  color: #fd545f;
  font-weight: 500;
}

.searchBox_input:hover .searchBox_input::-webkit-input-placeholder {
  background: black;
}

.searchBox_input:hover .searchBox_input:-ms-input-placeholder {
  background: black;
}

.searchBox_input:hover .searchBox_input::-ms-input-placeholder {
  background: black;
}

.searchBox_input:hover .searchBox_input::placeholder {
  background: black;
}

.searchBox_input:focus {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(255, 62, 62, 0.6);
          box-shadow: 0px 0px 5px 2px rgba(255, 62, 62, 0.6);
  outline: none;
  border: 2px solid #fd545f;
  background-color: white;
}

.searchBox_input:focus::-webkit-input-placeholder {
  color: white;
}

.searchBox_input:focus:-ms-input-placeholder {
  color: white;
}

.searchBox_input:focus::-ms-input-placeholder {
  color: white;
}

.searchBox_input:focus::placeholder {
  color: white;
}

.searchBox_input:focus.searchbox_icon {
  fill: #fd545f;
}

.searchBox_icon {
  z-index: 10;
  -webkit-animation: fade 1s ease-out;
          animation: fade 1s ease-out;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  fill: #888888;
  background-color: white;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.searchBox_clear {
  z-index: 10;
  -webkit-animation: fade 1s ease-out;
          animation: fade 1s ease-out;
  cursor: pointer;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  fill: #333333;
  background-color: white;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.marker {
  cursor: pointer;
  fill: #fd545f;
  height: 4.25rem;
  width: 4.25rem;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  margin: 0;
  padding: 0;
  -webkit-animation: fade 1s ease-out;
          animation: fade 1s ease-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.marker_shadow, .marker_result__shadow {
  height: 0.16667rem;
  width: 1rem;
  background-color: none;
  border-radius: 50%;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  -webkit-box-shadow: 0px 0px 10px 5px #fd545f;
          box-shadow: 0px 0px 10px 5px #fd545f;
}

.marker_result {
  cursor: pointer;
  fill: #2694e0;
}

.marker_result__shadow {
  -webkit-box-shadow: 0px 0px 10px 5px #2694e0;
          box-shadow: 0px 0px 10px 5px #2694e0;
}

.marker_type {
  cursor: pointer;
  position: absolute;
  top: -3.6rem;
  left: -1rem;
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
  background-color: #f8f8f8;
  border-radius: 50%;
  fill: #888888;
}

.marker_type__active {
  fill: #2694e0;
}

.pinit_window {
  -webkit-box-shadow: 0px 0px 5px 2px #b4b4b4;
          box-shadow: 0px 0px 5px 2px #b4b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-transform: translate(-50%, -155%);
          transform: translate(-50%, -155%);
  position: relative;
  padding: 2rem 1rem 1rem 1rem;
  min-width: 10rem;
  max-width: 12rem;
  border-radius: 10px;
  text-align: center;
}

.pinit_window p {
  margin-top: 0.25rem;
}

.pinit_window__button {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.5rem;
  width: auto;
  font-size: 0.75rem;
  padding: 0rem 1rem;
  background-color: #2694e0;
  border: 1px solid #2694e0;
  border-radius: 3px;
  text-decoration: none;
  color: white;
}

.pinit_window__button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #fd545f;
  border: 1px solid #fd545f;
  color: white;
}

.pinit_window__button:focus {
  outline: none;
}

.pinit_window__button:active {
  background-color: #2694e0;
  border: 1px solid #2694e0;
}

.pinit_window__button:disabled {
  -webkit-transition: opacity 0.75s ease 0.25s;
  transition: opacity 0.75s ease 0.25s;
  cursor: not-allowed !important;
  opacity: 0.25 !important;
}

.pinit_window__close {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  fill: #b4b4b4;
}

.pinit_window__close:hover {
  fill: #333333;
  background: none;
}

.pinit_window__close svg {
  height: 1rem;
  width: 1rem;
}

.places_window {
  -webkit-box-shadow: 0px 0px 5px 2px #b4b4b4;
          box-shadow: 0px 0px 5px 2px #b4b4b4;
  -webkit-animation: fade 0.5s ease-out;
          animation: fade 0.5s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2694e0;
  color: white;
  -webkit-transform: translate(-50%, -200%);
          transform: translate(-50%, -200%);
  position: absolute;
  padding: 1rem;
  min-width: 10rem;
  max-width: 12rem;
  border-radius: 5px;
  text-align: center;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=Map.module.css.map */