@import "../style-helpers/mixins.scss";

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.logo {
  cursor: default;
  font-family: "Pacifico", cursive;
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: $light-theme;
  z-index: 3;
  background: white;
  padding: 0.25rem 1rem 0.25rem 0.75rem;
  border-radius: 8px;
}
