.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.map {
  cursor: default !important;
}

.logo {
  cursor: default;
  font-family: "Pacifico", cursive;
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #fd545f;
  z-index: 3;
  background: white;
  padding: 0.25rem 1rem 0.25rem 0.75rem;
  border-radius: 8px;
}

.map_nav {
  position: absolute;
  bottom: 1.5rem;
  right: 0;
  padding: 10px;
}

.searchBox {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.searchBox_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  margin: 0.75rem;
  border-radius: 5px;
  padding: 0.5rem;
  border: 1px solid #fd545f;
  outline: 1;
  font-size: 1rem;
  color: #333333;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: shake;
          animation-name: shake;
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}

.searchBox_input::-webkit-input-placeholder {
  font-size: 1rem;
  color: #fd545f;
  font-weight: 500;
}

.searchBox_input:-ms-input-placeholder {
  font-size: 1rem;
  color: #fd545f;
  font-weight: 500;
}

.searchBox_input::-ms-input-placeholder {
  font-size: 1rem;
  color: #fd545f;
  font-weight: 500;
}

.searchBox_input::placeholder {
  font-size: 1rem;
  color: #fd545f;
  font-weight: 500;
}

.searchBox_input:hover .searchBox_input::-webkit-input-placeholder {
  background: black;
}

.searchBox_input:hover .searchBox_input:-ms-input-placeholder {
  background: black;
}

.searchBox_input:hover .searchBox_input::-ms-input-placeholder {
  background: black;
}

.searchBox_input:hover .searchBox_input::placeholder {
  background: black;
}

.searchBox_input:focus {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(255, 62, 62, 0.6);
          box-shadow: 0px 0px 5px 2px rgba(255, 62, 62, 0.6);
  outline: none;
  border: 2px solid #fd545f;
}

.searchBox_input:focus::-webkit-input-placeholder {
  color: white;
}

.searchBox_input:focus:-ms-input-placeholder {
  color: white;
}

.searchBox_input:focus::-ms-input-placeholder {
  color: white;
}

.searchBox_input:focus::placeholder {
  color: white;
}

.searchBox_input:focus.searchbox_icon {
  fill: #fd545f;
}

.searchBox_icon {
  z-index: 10;
  -webkit-animation: fade 1s ease-out;
          animation: fade 1s ease-out;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  fill: #888888;
  background-color: white;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.searchBox_clear {
  z-index: 10;
  -webkit-animation: fade 1s ease-out;
          animation: fade 1s ease-out;
  cursor: pointer;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  fill: #333333;
  background-color: white;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.formBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  offset-block-end: 10px;
}

.marker {
  fill: #fd545f;
  height: 3rem;
  width: 3rem;
  position: absolute;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.marker_image {
  height: 2.25rem;
  border-radius: 50%;
  border: 2px solid #fd545f;
  opacity: 1;
}
/*# sourceMappingURL=Map.module.css.map */