.container {
  width: 23rem;
  height: 94.5vh;
  background-color: white;
  position: absolute;
  z-index: 4;
  overflow: scroll;
}

.container::-webkit-scroll {
  width: 10px;
}

.container::-webkit-scroll-thumb:hover {
  background: #555;
}

.container_back {
  position: absolute;
  top: 15px;
  right: -25px;
  background-color: white;
  padding: 0.5rem 0;
  height: 2.5rem;
  width: 1.5rem;
  fill: #888888;
  cursor: pointer;
  -webkit-box-shadow: 1px 0px 5px 1px rgba(141, 141, 141, 0.219);
          box-shadow: 1px 0px 5px 1px rgba(141, 141, 141, 0.219);
  border-radius: 0 3px 3px 0;
}

.container_back:hover {
  fill: #fd545f;
  -webkit-box-shadow: 1px 0px 5px 1px rgba(255, 68, 68, 0.7);
          box-shadow: 1px 0px 5px 1px rgba(255, 68, 68, 0.7);
}

.tab {
  width: auto;
  margin: 0.5rem;
  text-align: center;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(158, 158, 158, 0.6);
          box-shadow: 0px 2px 4px 0px rgba(158, 158, 158, 0.6);
}

.button_logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.5rem;
  width: 4rem;
  font-size: 0.75rem;
  padding: 0rem 1rem;
  background-color: white;
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  text-decoration: none;
  color: #888888;
}

.button_logout:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #fd545f;
  border: 1px solid #fd545f;
  color: white;
}

.button_logout:focus {
  outline: none;
}

.button_logout:active {
  background-color: white;
  border: 1px solid #b4b4b4;
}

.button_logout:disabled {
  -webkit-transition: opacity 0.75s ease 0.25s;
  transition: opacity 0.75s ease 0.25s;
  cursor: not-allowed !important;
  opacity: 0.25 !important;
}

.title {
  font-family: "Pacifico", cursive;
  font-size: 1.375rem;
  color: #fd545f;
  padding: 0.7rem 0rem;
  border-bottom: 1px solid #f1f1f1;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}

.home_text {
  width: 100%;
  text-align: left;
  font-weight: 300;
  padding: 1rem 0.5rem;
  margin: 0 1rem 0 0.5rem;
  font-size: 1rem;
}

.home_text__border {
  border-bottom: 1px solid #f1f1f1;
}

.home_icon {
  margin: 0 1rem 0 2rem;
  height: 2rem;
  fill: #333333;
}

.home_group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 1.5rem;
}

.places {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #f1f1f1;
  fill: white;
}

.places_container {
  padding: 0 1rem;
}

.places:last-child {
  border-bottom: none;
}

.places_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}

.places_left__icon {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.4rem;
  background-color: #b4b4b4;
  border-radius: 50%;
}

.places_left__icon_default {
  background-color: #2694e0;
}

.places_left__icon_pinned {
  background-color: #fd545f;
}

.places_active {
  background-color: #f8f8f8;
}

.places_right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 1rem 0.5rem;
  margin: 0 1rem 0 0.5rem;
  width: 100%;
}

.places_right__name {
  font-weight: 500;
}

.places_right__address {
  font-size: 0.77778rem;
  font-weight: 300;
}

.places:last-child .places_right {
  border-bottom: none;
}
/*# sourceMappingURL=NavRoutes.module.css.map */